# Compiled source #
###################
*.class
build/*

# Eclipse Stuff #
#################
build.properties
.classpath
.project
.settings/
bin/

# Log info #
############
*.log

# SSH key #
tennis_trade
tennis_trade.pub
