# Compiled source #
###################
*.class
build/*

# Eclipse Stuff #
#################
build.properties
.classpath
.project
.settings/
bin/

# Log info #
############
*.log

# All local properties #
########################
*.local

# SSH key #
tennis_trade
tennis_trade.pub

# Test reports #
################
test-coverage
cobertura.ser

# Latex #
########
*.toc
*.aux

# Other #
#########
*.dump
*.html
